<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="camera">

  <xacro:macro name="camera_hand" params="connected_to:='' arm_id:='panda' rpy:='0 0 0' xyz:='0 0 0' description_pkg:=franka_description">

    <material name="plastic">
      <color rgba="0.1 0.1 0.1 1"/>
    </material>

    <xacro:unless value="${connected_to == ''}">
      <joint name="${arm_id}_ref_camera_joint" type="fixed">
        <parent link="${connected_to}" />
        <child link="${arm_id}_ref_camera_link" />
        <origin xyz="${xyz}" rpy="${rpy}" />
      </joint>
    </xacro:unless>

    <link name="${arm_id}_ref_camera_link"/>

    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
    <xacro:sensor_d435 parent="${arm_id}_ref_camera_link" name="${arm_id}_camera" use_nominal_extrinsics="true" add_plug="false" use_mesh="true">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:sensor_d435>
    
    <!-- camera support -->
    <joint name="${arm_id}_camera_support_joint" type="fixed">
      <parent link="${arm_id}_hand"/>
      <child link="${arm_id}_camera_support_link"/>
      <origin rpy="3.141592653589793 0 0" xyz="0 0 0"/>
    </joint>

    <link name="${arm_id}_camera_support_link">
      <inertial>
          <mass value="0.010"/>
          <origin xyz="0 0 0"/>
          <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual>
          <origin rpy="3.141592653589793 0 -1.5707963267948966" xyz="0.022 0 -0.012"/>
          <geometry>
          <mesh filename="package://${description_pkg}/meshes/visual/camera-support.stl" scale="1 1 1"/>
          </geometry>
          <material name="plastic"/>
      </visual>
      <collision>
          <origin rpy="3.141592653589793 0 -1.5707963267948966" xyz="0.022 0 -0.012"/>
          <geometry>
          <mesh filename="package://${description_pkg}/meshes/collision/camera-support.stl" scale="1 1 1"/>
          </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
